<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Generic Example</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">

    <meta name="theme-color" content="#fafafa">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
          integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
</head>

<body>

<div style="margin: 0 auto; width: 800px">
    <h1>Ejemplo de arquetipo generico</h1>
    <p>Los pasos para adaptar este arquetipo a un framework de javascrip se detallan en esta <a href="https://platform.bbva.com/gcp/documentation/1YrboU5DUP5ziomHK7mz89wJMcKHnNhDJ-YYRPUf9ilQ/technical-documentation/new-archetypes/frontend-gae/web-js-node-js-gae#h.8rd1ppni1tos">sección</a></p>
</div>

<script>
  sessionStorage.setItem('userSession', '<%- JSON.stringify(userSession); %>');
  sessionStorage.setItem('env', '<%- env %>');
</script>

</body>

</html>
